openapi: 3.0.0
info:
  title: SVDSCTFNWS01v3
  # CommonMark syntax allowed here
  description: '# This is a SVDSCTFNWS01v3 server spec

                You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/). For this sample, you can use the api key `special-key` to test the authorization filters.'
  termsOfService: https://www.caib.es/sites/interoperabilitat/es/plataforma_de_interoperabilidad-55365/
  contact:
    email: pinbal@fundaciobit.org
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: http://emiservbackoffice.fundaciobit.org:8080/emiservbackofficeapi/externa/services
    description: The production API server
    variables:
      username:
        # note! no enum here means it is an open value
        default: emiserv
        description: this value is assigned by the service provider, in this example `fundaciobit.org`
      domain:
        default: fundaciobit.org
        description: Description
      port:
        enum:
          - '80'
          - '8080'
          - '8443'
          - '443'
        default: '8080'
      basePath:
        # open meaning there is the opportunity to use special base paths as assigned by the provider, default is `v2`
        default: /emiservbackofficeapi/externa/services
paths:
  /SVDSCTFNWS01v3/peticionSincrona:
    post:
      tags:
      - SVDSCTFNWS01v3
      summary: Realitza una consulta al cedent
      description: Realitza una consulta al cedent
      operationId: peticionSincrona
      requestBody:
        description: Dades de la consulta
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/Solicitud'
            examples:
              solicitud:
                summary: Exemple de Solicitud
                externalValue: 'http://foo.bar/examples/user-example.json'
        required: true
      responses:
        200:
          description: Petició processada
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Resultado'
        400:
          description: Petició errònia
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ModelApiResponse'
        default:
          description: Codi de resposta incorrecte
          content:
            text/plain; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MsgResponse'

components:

  schemas:

    MsgResponse:
      type: string
      description: "Resposta del servei en format lliure"
      xml:
        name: MsgResponse

    Solicitud:
      type: object
      required:
        - titular
        - tituloFamiliaNumerosa
      properties:
        tituloFamiliaNumerosa:
          $ref: "#/components/schemas/TituloFamiliaNumerosa"
        titular:
          $ref: "#/components/schemas/DatosAdicionalesTitular"
      xml:
        name: Solicitud

    TituloFamiliaNumerosa:
      type: object
      required:
        - codigoComunidadAutonoma
      properties:
        codigoComunidadAutonoma:
          $ref: "#/components/schemas/CodigoComunidadAutonoma"
        numeroTitulo:
          $ref: "#/components/schemas/NumeroTitulo"
        fechaConsulta:
          $ref: "#/components/schemas/FechaConsulta"
      xml:
        name: TituloFamiliaNumerosa

    CodigoComunidadAutonoma:
      type: string
      minLength: 2
      maxLength: 2
      description: "Codi de la Comunitat Autonoma. Aquests camps aniran codificats amb les taules de codis de l'INE."
      xml:
        name: CodigoComunidadAutonoma

    NumeroTitulo:
      type: string
      minLength: 1
      maxLength: 30
      description: "Codi del títol de família nombrosa. En cas que no s'indiqui es tractarà de realitzar la consulta a partir de les dades del titular indicats, en cas que aquests s'emplenin. No obstant això existiran casos en què aquest camp sigui obligatori informar-ho per poder realitzar la consulta."
      xml:
        name: NumeroTitulo

    FechaConsulta:
      type: string
      format: full-date full-time
      description: "Data de consulta. Format:yyyy-MM-dd"
      xml:
        name: FechaConsulta

    DatosAdicionalesTitular:
      type: object
      properties:
        documentacion:
          $ref: "#/components/schemas/Documentacion"
        datosPersonales:
          $ref: "#/components/schemas/DatosPersonales"
      xml:
        name: Titular

    Documentacion:
      type: object
      required:
        - tipo
        - valor
      properties:
        tipo:
          type: string
          description: "Possibles valors son NIF, DNI, NIE, Pasaporte."
          enum:
            - NIF
            - DNI
            - NIE
            - Pasaporte
          xml:
            name: Tipo
        valor:
          type: string
          maxLength: 14
          description: "Valor del document del titular sense cap espai en blanc."
          xml:
            name: Valor
      xml:
        name: Documentacion

    DatosPersonales:
      type: object
      required:
      - nombre
      - apellido1
      properties:
        documentacion:
          $ref: "#/components/schemas/Documentacion"
        nombre:
          $ref: "#/components/schemas/Nombre"
        particula1:
          $ref: "#/components/schemas/Particula1"
        apellido1:
          $ref: "#/components/schemas/Apellido1"
        particula2:
          $ref: "#/components/schemas/Particula2"
        apellido2:
          $ref: "#/components/schemas/Apellido2"
        fechaNacimiento:
          $ref: "#/components/schemas/FechaNacimiento"
      xml:
        name: DatosPersonales

    Nombre:
      type: string
      maxLength: 40
      description: "Nom del titular de la sol·licitud."
      xml:
        name: Nombre

    Particula1:
      type: string
      maxLength: 6
      description: "Partícula prèvia al primer cognom."
      xml:
        name: Particula1

    Apellido1:
      type: string
      maxLength: 40
      description: "Primer cognom del titular de la sol·licitud."
      xml:
        name: Apellido1

    Particula2:
      type: string
      maxLength: 6
      description: "Partícula prèvia al segon cognom."
      xml:
        name: Particula2

    Apellido2:
      type: string
      maxLength: 40
      description: "Segon cognom del titular de la sol·licitud."
      xml:
        name: Apellido2

    FechaNacimiento:
      type: string
      format: full-date full-time
      description: "Data de naixement del titular de la sol·licitud. Format:yyyy-MM-dd"
      xml:
        name: FechaNacimiento

    Resultado:
      type: object
      properties:
        tituloFamiliaNumerosaRetorno:
          $ref: "#/components/schemas/TituloFamiliaNumerosaRetorno"
        listaBeneficiariosRetorno:
          $ref: "#/components/schemas/ListaBeneficiariosRetorno"
      xml:
        name: Resultado

    TituloFamiliaNumerosaRetorno:
      type: object
      properties:
        codigoComunidadAutonoma:
          $ref: "#/components/schemas/CodigoComunidadAutonoma"
        numeroTitulo:
          $ref: "#/components/schemas/NumeroTitulo"
        categoria:
          $ref: "#/components/schemas/Categoria"
        tituloVigente:
          $ref: "#/components/schemas/TituloVigente"
        fechaCaducidad:
          $ref: "#/components/schemas/FechaCaducidad"
        numeroHijos:
            $ref: "#/components/schemas/NumeroHijos"
      xml:
        name: TituloFamiliaNumerosaRetorno

    Categoria:
      type: string
      enum:
      - 'G'
      - 'E'
      - 'P'
      - 'S'
      - 'H'
      description: "Categoria del títol de família nombrosa"
      xml:
        name: Categoria
    
    TituloVigente:
      type: string
      enum:
      - 'S'
      - 'N'
      description: "Categoria del títol de família nombrosa"
      xml:
        name: TituloVigente

    FechaCaducidad:
     type: string
     maxLength: 10
     format: full-date
     description: "Data de naixement del titular de la sol·licitud. Format:yyyy-MM-dd"
     xml:
       name: FechaCaducidad

    NumeroHijos:
     type: integer
     minimum: 2
     maximum: 30
     format: int32
     description: "Data de naixement del titular de la sol·licitud. Format:yyyy-MM-dd"
     xml:
       name: NumeroHijos


    ListaBeneficiariosRetorno:
      type: object
      properties:
        domicilio:
          type: array
          xml:
            name: Persona
            wrapped: false
          items:
            $ref: "#/components/schemas/BeneficiarioRetorno"
      xml:
        name: ListaBeneficiariosRetorno

    BeneficiarioRetorno:
      type: object
      required:
      - nombre
      - apellido1
      - NIA
      properties:
        nombre:
          $ref: "#/components/schemas/Nombre"
        particula1:
          $ref: "#/components/schemas/Particula1"
        apellido1:
          $ref: "#/components/schemas/Apellido1"
        particula2:
          $ref: "#/components/schemas/Particula2"
        apellido2:
          $ref: "#/components/schemas/Apellido2"
        fechaNacimiento:
          $ref: "#/components/schemas/FechaNacimiento"
        documentacion:
          $ref: "#/components/schemas/Documentacion"
        titular:
          $ref: "#/components/schemas/Titular"
      xml:
        name: BeneficiarioRetorno

    Titular:
      type: string
      enum:
      - 'S'
      - 'N'
      description: ""
      xml:
        name: Titular


    ModelApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
tags:
- name: SVDSCTFNWS01v3
  description: '### Consultes al servei de família nombrosa'
  externalDocs:
    description: 'Manual del cedent'
    url: https://github.com/Fundacio-Bit/emiservbackoffice/blob/main/doc/interoperabilitat/SCDCHPAJUv3/cedent/ManualCedentPadroConvivencia.odt
externalDocs:
  description: "Documents d'interoperabilitat"
  url: http://interoperabilitat.caib.es
